.modal__controller {
  border: transparent;
  border-radius: var(--border-radius-8px);
  width: 80vw;
  position: fixed;
  /* top: 150px; */
  background-color: var(--color-white-fixed);
}


.modal__controller::backdrop {
  background-color: rgba(33, 37, 41, 0.5);
}


.modal__container > h2 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color-grey-1);
  margin: 1rem 0 1.5rem 0;
  height: 100%;
}

.modal__container > p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-grey-2);
  margin-bottom: 1.5rem;
}

.modal__close {
  background-color: var(--color-grey-5);
  color: var(--color-grey-3);
  font-family: var(--font-modal-close);
  padding: 1px 8px;
  border-radius: 100%;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;
}


@media (min-width: 769px) {
  .modal__close {
    cursor: pointer;
    top: 10px;
    right: 10px;
  }

  .modal__controller {
    width: 50vw;
    position: fixed;
    top: 150px;
  }
}